.App {
  text-align: center;
}

.new__quote {
  font-size: 1rem;
  color: azure;
  border: none;
  cursor: pointer;
  background-color: black;
  border-radius: 6px;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.625rem;
  position: relative;
  z-index: 2;
}
