.container {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.quote__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: 2.5rem 3.125rem;
  position: relative;
}

.quote__text p {
  font-size: 1.5rem;
  color: #61dafb;
  transition: color 0.3s linear;
}

.quote__author p {
  font-size: 1.125rem;
  color: aquamarine;
  transition: color 0.3s linear;
}

.quotation__marks {
  font-size: 2.5rem;
}

.copy__quote {
  cursor: pointer;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}

@media screen and (max-width: 500px) {
  .quote__block {
    min-width: 18.75rem;
    position: relative;
  }
}
